
<%-include('../../views/partials/user/header.ejs')%>
<!--================404 Error Page Start =================-->
<section class="error_part padding_top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="error_part_text text-center">
                    <div class="error_part_text_iner">
                        <h2>Oops! Page not found</h2>
                        <p>It seems like the page you are looking for doesn't exist or has been moved.</p>
                        <a href="/" class="btn_3">Back to Home</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="error_part_image">
                    <div class="header text-center bold "><h1>404</h1></div>
                </div>
            </div>
        </div>
    </div>
</section>

<%-include('../../views/partials/user/footer.ejs')%>
<!--================404 Error Page End =================-->
